@keyframes rotate-forever {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  width: 40px;
  height: 40px;
  border: 8px solid #dddddd;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.SpinnerPage {
  display: flex;
  justify-content: center;
  padding: 60px;
  min-height: 100vh;
}
